@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.create-task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50px;
    margin: 0 auto;
    width: 500px;
    height: 100px;
}

.create-task button, select {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #E7D37F;
    background-color: #81A263;
    font-size: 20px;
    font-family: Righteous;
    cursor: pointer;
}

/* Media queries */
/* Small devices (vertical mode) */
@media only screen and (max-width: 576px) {
    .create-task {
        position: relative;
        justify-content: space-around;
        gap: 20px;
        width: 300px;
        top: -10px;
    }

    .create-task button, select {
        width: 150px;
    }
}