@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.task-view {
    position: absolute;
    top: 270px;
    left: 280px;
    width: 780px;
    height: fit-content;
    margin: 50px;
    background-color: #E7D37F;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.task-view .task-empty {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 10px;
    background-color: #81A263;
    text-align: center;
    font-family: Righteous;
    color: #E7D37F;
    border: none;
    border-radius: 5px;
}

.task-empty p {
    font-size: 20px;
    line-height: 10px;
}

.task-view .task-list {
    position: relative;
    width: 95%;
    height: fit-content;
    padding: 10px 20px;
    color: #E7D37F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Righteous;
}

.task-list li {
    list-style: none;
    position: relative;
    margin: 10px;
    width: 95%;
    height: 80px;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    background-color: #81A263;
    border: none;
    border-radius: 5px;
}

.task-list li input {
    position: relative;
    top: 23px;
    left: -10px;
    z-index: 1;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-list li p {
    position: relative;
    margin: 20px 75px;
    top: -35px;
}

.task-list #delete-icon {
    position: relative;
    display: inline-block;
    top: -90px;
    left: 650px;
    font-size: 30px;
    cursor: pointer;
}

/* Media queries */
/* Small devices (vertical mode) */
@media only screen and (max-width: 576px) {
    .task-view {
        position: absolute;
        top: 200px;
        left: -10px;
        width: 80%;
    }
}